<ion-card>
  <img *ngIf="observation.imageData" src="{{ observation.imageData.fileUri || observation.imageData.debugDataUri }}" />
  <ion-card-content>
    <ion-card-title>{{ observation.plant.name }}</ion-card-title>
    <p class="latin-name">{{ observation.plant.latinName }}</p>
    <p *ngIf="observation.date">{{ observation.date.format('D.M.YYYY') }}</p>
    <p
      *ngIf="observation.mapLocation && observation.mapLocation.name && observation.mapLocation.name.length > 0"
    >
      {{ observation.mapLocation.name }}
    </p>
  </ion-card-content>
</ion-card>
