<ion-header>

  <ion-navbar>
    <ion-title>{{ 'MYOBS.MYOBS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="search">
    <button ion-button full color="light" (click)="toggleSearchCriteria()">
      <div class="flex-button">
        <span>&nbsp;</span>
        <span>{{ 'MYOBS.SEARCHCR' | translate }}</span>
        <ion-icon [name]="searchIcon"></ion-icon>
      </div>
    </button>
    <div [hidden]="!searchCriteriaOpen" class="search-criteria">
      <ion-list>
        <plant-autocomplete [setPlantCallback]="setPlant" #plantAutocomplete></plant-autocomplete>
        <ion-item>
          <ion-label stacked>{{ 'MYOBS.LATINNAME' | translate }}</ion-label>
          <ion-input class="italic" [value]="latinName" disabled></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'MYOBS.STARTDATE' | translate }}</ion-label>
          <ion-datetime
            displayFormat="D.M.YYYY HH:mm"
            [(ngModel)]="startDateString"
          ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked>{{ 'MYOBS.ENDDATE' | translate }}</ion-label>
          <ion-datetime
            displayFormat="D.M.YYYY HH:mm"
            [(ngModel)]="endDateString"
          ></ion-datetime>
        </ion-item>
        <button ion-button full (click)="search()">{{ 'MYOBS.SEARCH' | translate }}</button>
        <button ion-button full (click)="showAll()">{{ 'MYOBS.SHOWALL' | translate }}</button>
        <button ion-button full (click)="resetForm()">{{ 'MYOBS.RESET' | translate }}</button>
      </ion-list>
    </div>
  </div>

  <p *ngIf="observations.length === 0">{{ 'MYOBS.NOOBS' | translate }}</p>
  <ion-list no-lines>
    <ion-item *ngFor="let observation of observations">
      <observation-card
        [observation]="observation"
        [deleteObservationCallback]="deleteObservation"
        (click)="viewObservation(observation)"
      ></observation-card>
    </ion-item>
  </ion-list>
</ion-content>
