<ion-header>

  <ion-navbar>
    <ion-title>{{ 'VIEWOBS.OBS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding overflow-scroll="true">
  <img *ngIf="imageUrl" [src]="imageUrl" />

  <button ion-button full (click)="edit()">{{ 'VIEWOBS.EDIT' | translate }}</button>

  <ion-list>
    <ion-item-divider>{{ 'VIEWOBS.SPEC' | translate }}</ion-item-divider>
    <ion-item>{{ observation.plant.name }}</ion-item>
    <ion-item class="italic">{{ observation.plant.latinName }}</ion-item>

    <ion-item-divider>{{ 'VIEWOBS.DATE' | translate }}</ion-item-divider>
    <ion-item>{{ dateString }}</ion-item>

    <ion-item-divider *ngIf="observation.mapLocation">{{ 'VIEWOBS.LOCATION' | translate }}</ion-item-divider>
    <div *ngIf="observation.mapLocation" ion-item>
      <div class="map" #map></div>
    </div>

    <ion-item-divider *ngIf="hasDescription">{{ 'VIEWOBS.DESCR' | translate }}</ion-item-divider>
    <ion-item *ngIf="hasDescription">{{ observation.description }}</ion-item>
  </ion-list>
</ion-content>
